<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= Account.name %></title>
</head>
<body>
     <%- include('../partials/nav') %> */ It will help us so not every time we to add it 

    <h1><%=Edit a Account%></h1>
    <form action="/Account<%=Account_.id%>?_method=PUT" method="put"></form>

          <label for="accountName">Account Name:</label>
      <input type="text" name="accountName" id="accountName" value="<%= Account.accountName %>"/>

      <label for="accountType">Account Type:</label>
      <input type="text" name="accountType" id="accountType" value="<%= Account.accountType %>"/>

      <label for="balanceNumber">Balance Number:</label>
      <input type="number" name="balanceNumber" id="balanceNumber" value="<%= Account.balanceNumber %>"/>

      <label for="accountNumber">Account Number:</label>
      <input type="number" name="accountNumber" id="accountNumber" value="<%= Account.accountNumber %>"/>
      <button type="submit">Edit Account</button>

</body>
</html>