<!DOCTYPE html><!--To show All accounts  of the user -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=All Accounts%></title>
</head>
<body>
    <%- include('../partials/nav') %> */ It will help us so not every time we to add it 
     <a href="/Account/new.ejs">Add a Account </a>
      <ul>
        <%Account.forEach((Account)=>{%
            <li>
                <% Account.forEach((account) => { %>
    <div class="account-box">
      <h4><%= account.accountName %></h4>
      <div class="account-details">
        <span>Balance: $<%= account.balanceNumber %></span>
        <span>Number: $<%= account.accountNumber %></span>
        <span>Type: <%= account.accountType %></span>
        <span>Last Transaction: <%= account.lastTransaction %></span>
      </div>
      <button>View Details</button>
    </div>
  <% }); %>
</div>
            </li>
        })
      </ul>
   

 


    </form>
   

</body>
</html>