<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= Transaction.name %></title>
</head>
<body>
    <%- include('../partials/nav') %> */ It will help us so not every time we to add it 
    <h1><%=Edit a Transaction%></h1>
     <form action="/Transaction<%=Transaction_.id%>?_method=PUT" method="put"></form>

    

      <label for="transactiondetails">Transaction Details:</label>
      <input type="text" name="transactiondetails" id="transactiondetails" value="<%= Transaction.transactiondetails %>"/>

      <label for="creationDate">Creation Date:</label>
      <input type="date" name="creationDate" id="creationDate" value="<%= Transaction.creationDate %>"/>

      <label for="transactionDate">Transaction Date:</label>
      <input type="datetime" name="transactionDate" id="transactionDate" value="<%= Transaction.transactionDate %>"/>

      <select name="transactionType" id="transactionType">
        <option value="income">Income</option>
        <option value="outcome">Outcome</option>
      </select>
      <button type="submit">Edit Transaction</button>
</body>
</html>