<!DOCTYPE html>  <!--This page to show all the Transactions of the users -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Transaction</title>
</head>
<body>
    <%- include('../partials/nav') %> */ It will help us so not every time we to add it 
    <h1><%=All Transaction%></h1>
     <a href="/Transaction/new">Add a new Transaction </a>
      <ul>
        <%Transaction.forEach((Transaction)=>{%
           <div> <%=Transaction.name%></div>
            <li>
                <% Transaction.forEach((account) => { %>
    <div class="transaction-box">
      <h4><%= transaction.transactionName %></h4>
      <div class="transaction-details">
       
        <span>Transaction Details: <%= transaction.transactiondetails %></span>
        <span>Transaction Date: <%= transaction.transactionDate %></span>
         <span>Creation Date: <%= transaction.creationDate %></span>
          <span>Type: <%= transaction.transactionType %></span>
      </div>
      <button>View Details</button>
    </div>
  <% }); %>
</div>
            </li>
        })%>
      </ul>
</body>
</html>