<!DOCTYPE html><!--This page for showing only one Transaction -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Transactions</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h5>Transaction Details</h5>
            <p><strong>Category:</strong> <%= transaction.category %></p>
            <p><strong>Amount:</strong> <%= transaction.amount %></p>
            <p><strong>Details:</strong> $<%= transaction.details %></p>
            <p><strong>Date:</strong> $<%= transaction.transactionDate %></p>
            <% if (transaction.accountNumber) { %>
                <p><strong>Account :</strong> **<%= transaction.accountNumber %></p>
            <% } %>
        </div>
    </div>
    <a href="/transactions/<%= transaction._id %>/edit" class="btn btn-primary">Edit This Transaction</a>
        <a href="/transactions/new" class="btn btn-success">Add Transaction</a>
        <form style="display:inline;" action="/transactions/<%= transaction._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger" 
                    onclick="document.getElementById('message').textContent='Deleting transaction...'; deleteTransaction();">Delete Transaction</button>
        </form>
    </div>
   
    
      
    </div>
    
    <hr>
    
    
    

    
    <a href="/accounts" class="btn btn-outline-secondary">Back to All Accounts</a>
</div>


  
</body>
</html>